<div class="about-me">
    <div class="img-container">
        <img src="images/Kirill-1.jpeg" class="img" id="profile-photo">
    </div>
    <div>
        <h2>About Me</h2>
        <p>
            Thank you for checking out my page! I have experience working as a software engineer, 
            a quantitative and data analyst, and a data science intern. Some of the tools that I have previously used include, but are
            not limited to, Sklearn, Tensorflow, Spark, Tableau, SQL, Django, Angular, and much more.
        </p>
        <p>
            I pride myself on being a good communicator, curious, and tenacious. When I'm not working,
            you can find me jogging, working on my software skills, and connecting with entrepreneurial minds.
        </p>
        
        
        <p>
            My completed projects include:
        </p>
        <ul>
            <li>Developing a successful algorithm via Python to determine an optimal trading strategy for an investment fund.</li>
            <li>Creating an SQL query to supersede an older data-engineering pipeline that merged disparate datasets from GCP. 
                My query aggregated instances and performed calculations in such a way that reduced front-end load and wait times substantially (~1/5th of the original wait time). </li>
            <li>Partnering with business teams to create Tableau dashboards to visualize various datasets.</li>
            <li>Creating a Data-cleaning stream via Python that helped a business unit input forecasts and apply version control by simply uploading an excel file. Results were presented
                 in Tableau.</li>
            <li>Implementing a Convolutional Neural Network for classification of objects within video streams.</li>
        </ul>
        <br>
        <h2 class="contact">Contact</h2>
        <p>Feel free to reach out via email at <i>kirillvklimov&#64;.com</i> or text/call me at <i>(+1)414-559-6025</i>.</p>
    </div>
</div>