.toolbar-title {
    font-size: 29px;
    color: white;
    /*font-family: "Mulish", "Trebuchet MS" !important;*/
    padding: 10px 0;
    display: block;
}

mat-toolbar {
    background-color: black;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 11px 20px;
    font-family: "Mulish",'Courier New', Courier, monospace;
}

.space-gen {
    flex: 1 1 auto;
}

mat-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: row;
}

.menu-button {
    font-size: 16px;
    padding: 0px 10px;
    border: 2px solid transparent;
    border-radius: 11px;
    height: auto;
    margin-right: 23px;
    padding-left: 2px;
    padding-right: 2px;
    transition: border-color 1.3s ease;
}

.menu-button:hover {
    background-color: white;
    border-color: #4285F4;
    cursor: pointer;
}

.menu-button:active {
    background-color: #2d83bd;
}

.title-container {
    width: 100%;
    margin-bottom: 7px;
    display: flex;
}

::ng-deep .menu-button {
    color: white !important;
    background-color: black !important;
}

#about {
    font-size: 16px;
}

.ghub-logo {
    margin-top: 14px;
    width: 92px;

}

.image-button {
    margin-left: auto;
    cursor: pointer;
}

.logo-buttons {
    margin-left: auto;
}

.in-logo {
    margin-left: 19px;
    height: 25px;
}

* {
    font-family: "Mulish","Spectral", sans-serif, sans;
}