<p>navbar works!</p>
<mat-toolbar color="white">
    <div class="title-container">
        <span class="toolbar-title">Kirill Klimov</span>
        <span class="logo-buttons">
            <a href="https://github.com/kklimov1" class="image-button">
                <img src="/images/GitHub_Lockup_Light.png" alt="GitHub Logo" class="ghub-logo">
            </a>
            <a href="https://www.linkedin.com/in/kirill-klimov-001/" class="image-button">
                <img src="/images/in.png" alt="LinkedIn Logo" class="in-logo">
            </a>
        </span>
    </div>
    <span class="space-gen"></span>
    <div id="buttons">
        <button mat-flat-button class="menu-button" routerLink="/">About & Contact</button>
        <button mat-flat-button class="menu-button" routerLink="/sparkAnalysis">Spark Project</button>
        <button mat-flat-button class="menu-button" routerLink="/stockAnalysis">Stock Predictor </button>
        

        
    </div>
    
    

</mat-toolbar>
